*{
    border: 0 ;
    margin: 0 ;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    width:40%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(10, 10, 10);
    background-image:
    radial-gradient(circle at 100% 150%, black 24%, black 24%, black 28%, black 28%, black 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, silver 24%, white 24%, white 28%, black 28%, black 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, silver 10%, silver 23%, white 23%, white 30%, silver 30%, silver 43%, white 43%, white 50%, silver 50%, silver 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent),
radial-gradient(circle at 0    50%, white 5%, silver 5%, silver 15%, white 15%, white 20%, silver 20%, silver 29%, white 29%, white 34%, silver 34%, silver 44%, white 44%, white 49%, transparent 49%, transparent);
background-size: 100px 50px;
/*     background-image: url("/img/papyrus-dark.png"); */
}

#container, header, #banner, #noticias, #tienda, footer{
    background-color:rgb(255, 255, 255);
    height: 1050px;
    width: 800px;

}

header{
    background-color:antiquewhite;
    
    height: 20px;

}

#banner{
    background-color:rgb(25, 25, 25) ;
    
    height: 200px;
}


#noticias{
    background-color: antiquewhite;
    
    height: 300px;
}

#tienda{
    background-color: grey;
    height: 300px;
    width: 780px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
}

#marcas{
    background-color:rgb(58, 41, 18);
    height: 200px;
}


footer{
    background-color:antiquewhite;
    text-align: center;
    height: 20px;
}

#tienda #cake1{
    background: rgb(109, 175, 33);
    width: 250px;
    height: 295px;
    display: inline-block;
    vertical-align: top; 
    margin: 0px 3px;
}

#tienda #cake2{
    background: rgb(41, 23, 3);
    width: 250px;
    height: 295px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px; 
}

#tienda #cake3{
    background: rgb(175, 169, 112);
    width: 250px;
    height: 295px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 3px; 
}