*{
    border: 0 ;
    margin: 0 ;
    padding: 0;
}

body{
    background-color: bisque;
}

#container{
    background-color:rgb(56, 56, 22);
    height: 1050px;
    width: 750px;
    margin-right: 50px;
    marging-left: 50px;
    
}