*{
    border: 0 ;
    margin: 0 ;
    padding: 0;
}

body{
    background-color: rgb(247, 245, 243);
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    /* margin: 0px auto;
    text-align: center;
     */
}


div {
    margin: 0px auto;
    width:400px;
}

#container{
    background-color:rgb(56, 56, 22);
    height: 1050px;
    width: 750px;
    
}

header{
    background-color:antiquewhite;
    width: 750px;
    height: 20px;

}

#banner{
    background-color:black ;
    width: 750px;
    height: 200px;
}


#noticias{
    background-color: lightgray;
    width: 750px;
    height: 300px;
}

#tienda{
    background-color: grey;
    width: 750px;
    height: 300px;
}

footer{
    background-color:antiquewhite;
    width: 750px;
    height: 20px;
}