*{
    border: 0 ;
    margin: 0 ;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    width:92%;
    margin-left:auto;
    margin-right:auto;
/*     display: inline-block; */
    /* margin: 0px auto;
    text-align: center;
     */
}

/* div {
    margin: 0px auto;
    width:400px;
}
 */
#container,header,#banner,#noticias,#tienda.footer{
    background-color:rgb(56, 56, 22);
    height: 1050px;
    width: 800px;
    margin-left:5px;
    margin-right:5px;
    
}

header{
    background-color:antiquewhite;
    width: 1050px;
    height: 20px;

}

#banner{
    background-color:rgb(128, 119, 119) ;
    width: 1050px;
    height: 200px;
}


#noticias{
    background-color: lightgray;
    width: 1050px;
    height: 300px;
}

#tienda{
    background-color: grey;
    width: 1050px;
    height: 300px;
}

footer{
    background-color:antiquewhite;
    width: 1050px;
    height: 20px;
}