* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {    
    text-decoration: none;
}

header {
   height: 150px;  
   background-color: #FF4945;
}

.main {
   height: 300px;
  color: white;
   background-color: #FFA931;
}

.sidebar {
   height: 300px;
  color: white;
    background-color: #9B0579;
}

footer {
   height: 100px;
   color: white;
   background-color: #00778F;
   text-decoration: center;
}
/* Page Layout */


header {
    grid-area: header;
}
.main {
    grid-area: main;
}
.sidebar {
    grid-area: sidebar;
}
footer {
    grid-area: footer;
}