*{
    border: 0 ;
    margin: 0 ;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
    width:40%;
    margin-left:auto;
    margin-right:auto;
    background-image: url("/img/papyrus-dark.png");
}

#container, header, #banner, #noticias, #tienda, footer{
    background-color:rgb(56, 56, 22);
    height: 1050px;
    width: 800px;

}

header{
    background-color:antiquewhite;
    
    height: 20px;

}

#banner{
    background-color:rgb(128, 119, 119) ;
    
    height: 200px;
}


#noticias{
    background-color: lightgray;
    
    height: 300px;
}

#tienda{
    background-color: grey;
    height: 300px;
    width: 780px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    text-align: center;
}

footer{
    background-color:antiquewhite;
    
    height: 20px;
}

#tienda #cake1{
    background: rgb(109, 175, 33);
    width: 250px;
    height: 295px;
    display: inline-block;
    vertical-align: top; 
}

#tienda #cake2{
    background: rgb(41, 23, 3);
    width: 250px;
    height: 295px;
    display: inline-block;
    vertical-align: top; 
}

#tienda #cake3{
    background: rgb(175, 169, 112);
    width: 250px;
    height: 295px;
    display: inline-block;
    vertical-align: top; 
}